<% form_for(@cour) do |f| %>
  <%= error_messages_for :cour, :id => "message_error_close", :class => 'message error close', :header_message => "Connexion impossible !", :message => "Des erreurs se sont glissées dans la saisie du formulaire." %>

<h1>New cours</h1>

<% form_for(@cours) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </p>
  <p>
    <%= f.label :heures_total %><br />
    <%= f.text_field :heures_total %>
  </p>
  <p>
    <%= f.label :heures_reste %><br />
    <%= f.text_field :heures_reste %>
  </p>
  <p>
    <%= f.label :evaluation_id %><br />
    <%= f.text_field :evaluation_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', cours_path %>
